.ant-tabs-tab-active {
  background: #fff !important;
  padding: 10px !important;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
}
.ant-tabs-tab-active .ant-tabs-tab-btn h3 {
  color: #000 !important;
}
.ant-tabs-tab-btn h3 {
  color: #fff !important;
}
:where(.css-dev-only-do-not-override-qgg3xn).ant-tabs-top > .ant-tabs-nav,
:where(.css-dev-only-do-not-override-qgg3xn).ant-tabs-bottom > .ant-tabs-nav,
:where(.css-dev-only-do-not-override-qgg3xn).ant-tabs-top > div > .ant-tabs-nav,
:where(.css-dev-only-do-not-override-qgg3xn).ant-tabs-bottom
  > div
  > .ant-tabs-nav {
  margin: 0 !important;
}

.ant-tabs-content-holder {
  background: #fff;
}

.ant-tabs-ink-bar {
  display: none !important;
}

/* FirstChild start */
.basic-info-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

/* FirstChild finish */

/* SecondCHild start */
.command-info-container{
  padding: 0 10px 10px;
}
.command-info-container div {
  margin: 20px 0;
}
.command-info-title{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.command-info-title button{
  background-color: green;
  color: #fff;
  border-radius: 25px;
  border: none;
}
.command-info-content div{
  margin: 0 auto;
  width: 95%;
  background: #e9e9e9;
  border-radius: 11px;
  padding: 15px;
}
.command-info-content span{
  font-size: 16px;
  font-weight: bold;
}
.command-info-btn{
  display: flex; 
  align-items: center;
}
.command-info-btn button{
  margin-right: 15px;
  border-radius: 25px;
  background-color: transparent;
  border: 1px solid green;
  color: green;
}
.command-info-btn p{
  color: #c1c1c1;
}

.command-info-table{
  padding: 20px;
}
/* SecondCHild finish */